*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s all ease-in-out;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fd;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 10px;
  font-family: "Parkinsans", sans-serif;

}

:root{
  --white: #fff;
  --light-gray: #ececec;
  --dark-gray: #d9d8d8;
  --primary: #0e59ef;
  --primary-light: #0e7cea	;
  --secondary: #385170;
  --text: #142d4c;
  --text-dark: #04101f;
}


.parkinsans-sm-highlited-text {
  font-family: "Parkinsans", sans-serif;
  font-size: 1.45rem;
  font-weight: 600;
}

.h1-light {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--white);
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-dark);
}


p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text);
}

.parkinsans-sm-text-light {
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--white);
}

.parkinsans-m-text-light {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}

.parkinsans-m-text {
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--text-dark);

}

.primary-btn{
  background-color: var(--primary);
  color: var(--white) !important;
  padding: 15px 20px;
  border-radius: 100px;
}

.primary-btn:hover{
  background-color: var(--primary-light) !important;
  color: var(--white) !important;
  
}

.secondary-btn{
  background-color: var(--light-gray);
  padding: 15px 20px;
  border-radius: 100px;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="text"]{
  border: none;
  outline: none;
  font-style: normal;
  font-size: 1.8rem;
}

button:disabled{
  background-color: var(--light-gray) !important;
  cursor: default !important;
  color: var(--text) !important;
}

button:disabled:hover{
  background-color: var(--light-gray) !important;
  cursor: default !important;
  color: var(--text) !important;
}